*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 62.5%; */
}

body{
    background-color:#f2d7d7;
}

.btn-nav {
    align-items: start;
    padding: 1em;
}

.contato{
    display: flex;
    padding-top: 4em ;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.btn-enviar{
    width: 7em;
    padding: .5em;
    background-color: #f8dfe3;
}

.info-contatos{
    text-align: start;
    /* align-items: start; */
}

/* Responsividade */
@media (max-width:600px) {
    .contato{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
}