*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    /* Fazer:
    - adicionar javascript ao projeto login;
    - adicionar form ao projeto cardapio;
    - ajeitar acessibilidade.
    */
}
/* Formatção do body: */
body{
    background-color: #f2d7d7;
}
/* Botão funcional para facilitar a volta para página inicial: */
.btn-nav{
    display: inline-block;
    align-items: start;
    height: 1em;
    position: absolute;
    padding: 1em;
}
/* Estilização dos cards com nome e descrição dos projetos, desenvolvido com tutorial estudado: */
.container{
/* Formatação da área de card com grid de duas colunas*/
    display: grid;
    grid-template-columns: repeat(2, 400px);
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 3.5em 2em 3.5em;
    gap: 2em;
}
/* Fomatação dos cards, alinhamento em coluna. */
.cards{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 20em;
    width: 26em;
    border-radius: 20px;
    overflow: hidden;
    align-items: flex-end;
}
/* Imagens dos projetos desenvolvidos: */
.card-img{
    background: url(images/A-terra-de-todos.jpg)
    no-repeat top center/cover;
}

.card-img2{
    background: url(images/Miau-Catcafé.jpg)
    no-repeat top center/cover;
}
.card-img3{
    background: url(images/pagina-login.jpg)
    no-repeat top center/cover;
}
/* Área do card que após interação é sobe e mostra a descrição do projeto. */
.card-conteudo{
    position: relative;
    padding: 1.25em;
    background-color: #fff;
    color: #5c1A55;
    border-top-left-radius: 1.25x;
    /*cursor: pointer;*/
    transform: translateY(47%);
    transition: transform 0.3s;
}
/* Detalhe lateral em lua que acompanha o hover. */
.card-conteudo::before{
    content: "";
    position: absolute;
    top: -52px;
    right: -48px;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    box-shadow: inset -48px -48px;
}
/* Estilização do conteudo, descrição e título: */
.card-descricao{
    padding-top: 2em;
}

.card-conteudo a{
    text-decoration: none;
    color: #5c1A55;
    background-color: plum;
    border-radius: .3em;
    padding: .1em;
}

.card-titulo{
    font-size: 1.88em;
    padding-bottom:.3em;
}
/* Hover que mostra a descrição quando o ponteiro interage com o card. */
.card-conteudo:hover{
    transform: translate(0);
}

/* Responsividade básica: */
@media (max-width:750px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .btn-voltar{
        padding: .5em;
    }
}