/* Formatações desejadas para toda página com resert css: */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    /* Fazer: 
    - melhorar background;
    */
}
/* formatações do body inteiro: */
body{
    background-color: #f2d7d7;
}
/* Menu fixo clicável c/ formatação neutra e simples */
.menu-fixo{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content:space-around;
    width: 100%;
    gap: 1em;
}
.menu{
    padding: 1em;
}
.menu ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 1em;
    width: 5em;
    height: 3em;
    border-radius:0.2em ;
    background-color: #f59b9e;
}
.menu ul{
    display: flex;
    align-items: center;
    width: 22.5em;
}
.menu li{
    display: inline-block;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
}
/* Parte de estilização da imagem no padrão circular com borda sólida, titulo e subtitulo com nome e formação. */
.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;
    gap: 1em;
}
.perfil img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    border: solid .4em #f59b9e;
}
.titulo, .subtitulo{
    text-align: center;
}
/* Icone de redes sociais:*/
.iconsredes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    gap: 1em;
}

/* Botão que leva ao currículo desenvolvido para o projeto Elas na tech: */

.curriculo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6em;
}

.btn-curriculo a {
    text-decoration:none;
    color: #ffffff;
    padding: .8em;
    width: 5em;
    height: 3em;
    border-radius: .5em;
    background-color: #f59b9e;
}

.btn-curriculo li{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn-curriculo {
    list-style-type: none;
}

/* Estilização do rodapé com créditos exigido nos requisitos mínimos: */

.rodape{
    padding-top: 1em;
    text-align: center;
}

.creditos{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    gap: 1.5em;
    background-color: #f59b9e;
}

.creditos a{
    color: #ffffff;
    text-decoration: none;
}